# STATISTIC OF CANDA 
### By IFFAT
### Date: 2021-09-15

------------------

#### Import needed library

In [1]:
import pandas as pd

#### Loading the database from csv file

In [2]:
db = pd.read_csv("students.csv")

#### Info about the imported databased

In [3]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6221 entries, 0 to 6220
Data columns (total 9 columns):
 #   Column                                                      Non-Null Count  Dtype
---  ------                                                      --------------  -----
 0   REF_DATE                                                    6221 non-null   object
 1   GEO                                                         6221 non-null   object
 2   Institution type                                            6221 non-null   object
 3   Registration status                                         6221 non-null   object
 4   International Standard Classification of Education (ISCED)  6221 non-null   object
 5   Field of study                                              6221 non-null   object
 6   Gender                                                      6221 non-null   object
 7   Status of student in Canada                                 6221 non-null   object
 8   VALUE                                                       6221 non-null   int64
dtypes: int64(1), object(8)
memory usage: 437.5+ KB

### ANSWERS

#### Answer no 1

In [5]:
##1 
answer_1 = db["Field of study"].value_counts()
answer_1

Business, management and public administration [5]                652
Health and related fields [10]                                    612
Humanities [3]                                                    607
Architecture, engineering and related technologies [8]            556
Social and behavioural sciences and law [4]                       538
Mathematics, computer and information sciences [7]                451
Education [1]                                                     429
Other  [12]                                                       417
Physical and life sciences and technologies [6]                   407
Agriculture, natural resources and conservation [9]               395
Visual and performing arts and communications technologies [2]    393
Personal, protective and transportation services [11]             341
Unclassified                                                      268
Personal improvement and leisure [0]                              155
Name: Field of study, dtype: int64

#### Answer no 2

In [7]:
##2
answer_2 = list(db["International Standard Classification of Education (ISCED)"].unique())
answer_2

["Bachelor's or equivalent",
 "Master's or equivalent",
 'Doctoral or equivalent',
 'Post-secondary non-tertiary education',
 'Short-cycle tertiary education',
 'Not applicable, International Standard Classification of Education (ISCED)',
 'Upper secondary education']

#### Answer no 3

In [8]:
##3
answer_3 = db["Institution type"].value_counts()
answer_3

University    3567
College       2654
Name: Institution type, dtype: int64

#### Answer no 4

In [9]:
##4 total number of enrolled studet
answer_4 = db[(db['GEO'] == 'Newfoundland and Labrador')]['VALUE'].sum()
answer_4

24777

#### Answer no 5

In [10]:
#5
db_gender = db[(db['GEO']=='Newfoundland and Labrador') & (db['Institution type'] == 'University') ]['Gender']
answer_5 = db_gender.value_counts()[['Male gender','Female gender']]
answer_5

Male gender      113
Female gender    108
Name: Gender, dtype: int64